<div class="nav-container">
  <nav>
    <div class="item left">
      left
    </div>
    <div class="item mid">
      <ul>
        <li><a [routerLink]="[{ outlets: { information: ['home'] } }]" routerLinkActive="active">home</a></li>
        <li><a [routerLink]="[{ outlets: { information: ['about'] } }]" routerLinkActive="active">about</a></li>
        <li><a [routerLink]="[{ outlets: { information: ['services'] } }]"routerLinkActive="active">services</a></li>
      </ul>
    </div>
    <div class="item right">
        <ul>
            <li><a [routerLink]="[{ outlets: { gallery: ['design'] } }]" routerLinkActive="active">design</a></li>
            <li><a [routerLink]="[{ outlets: { gallery: ['develop'] } }]" routerLinkActive="active">develop</a></li>
        </ul>
    </div>
  </nav>
</div>

<main [@informationAnimation]="routeState(informationOutlet)">

  <div class="prueba">
    <img src="../../assets/images/logo1.png" alt="">
  </div>

  <router-outlet #informationOutlet="outlet" name="information"></router-outlet>

  <div class="prueba">
    <img src="../../assets/images/logo1.png" alt="">
  </div>

</main>

<section [@galleryAnimation]="routeState(galleryOutlet)">

    <router-outlet #galleryOutlet="outlet" name="gallery"></router-outlet>

</section>